<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/ourPage.css') }}">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<head>
    <title>
        Graph Peeling Algorithm
    </title>
</head>

<body class="main-content">
    <form action="/Peeling" method="post" role="form">
        <h1 class="heading">
            Graph Peeling Algorithm
        </h1>
        <div class="data-container">

            <table style="border: 1px solid white; align-items: center;">
                <thead>
                    <td colspan="3">Dataset Name</td>
                    <td colspan="3">Number of Nodes</td>
                    <td colspan="3">Number of Edges</td>
                    <td colspan="1">Select a database</td>
                </thead>
                <tr>
                    <td colspan="3">Live Journal</td>
                    <td colspan="3">4847571</td>
                    <td colspan="3">68993773</td>
                    <td colspan="1"><input type="radio" id="LiveJournal" name="Datasets" value="soc-LiveJournal1.txt"></td>
                </tr>
                <tr>
                    <td colspan="3">Wiki Talk Data</td>
                    <td colspan="3">2394385</td>
                    <td colspan="3">5021410</td>
                    <td colspan="1"><input type="radio" id="wikiTalk" name="Datasets" value="WikiTalk.txt"></td>
                </tr>
                <tr>
                    <td colspan="3">Epinions Data</td>
                    <td colspan="3">75879</td>
                    <td colspan="3">508837</td>
                    <td colspan="1"><input type="radio" id="epinions" name="Datasets" value="soc-Epinions1.txt"></td>
                </tr>
                <tr>
                    <td colspan="3">Sample Data</td>
                    <td colspan="3">6</td>
                    <td colspan="3">14</td>
                    <td colspan="1"><input type="radio" id="epinions" name="Datasets" value="test.txt"></td>
                </tr>
            </table>
        </div>

        <div>
            {% if(listOfList) %}
            <table style="margin-top:50px; margin-right:200px; float:right; border: 1px solid white; align-items: center;">
                <thead>
                    <td colspan="3">Iteration Number</td>
                    <td colspan="3">Number of Nodes Removed</td>
                    <td colspan="3">Time Taken</td>
                </thead>
                {%for i in range(0, listOfList|length)%} 
                <tr>
                    <td colspan="3">{{i+1}}</td>
                    <td colspan="3">{{listOfList[i][1]}}</td>
                    <td colspan="3">{{listOfList[i][2]}} s</td>
                </tr>
                {%endfor%} 
            </table>
            {% endif %}
        </div>
        
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <div class="page-layout-main">
            <div class="container">

                <div>
                    Enter K value :
                </div>
                <div style="color: black;">
                    {{ form.kValue() or kValue}}
                </div>
                <br>
                {% for message in form.kValue.errors %}
                <div>{{ message }}</div>
                {% endfor %}
               
                <br>
                <div>
                    <Button class="btn btn-primary" type="submit">
                        Start Algorithm
                    </Button>
                </div>

                <!-- <div class="k-core-graph">
                    <h3> 4-Core Decomposition for the entire graph </h3>
                    <img src="{{ url_for('static',filename='styles/img/shortestPath.jpg') }}" height="200px"
                        width="400px">
                </div> -->

            </div>
        </div>

        
    </form>
</body>

</html>